/* New Page */
/*  Main */
/* line 2, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
body,
html {
  height: 100% !important;
  padding: 0;
  margin: 0;
}

/* line 9, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: #e2e2e2;
  overflow-x: hidden;
  margin: 0;
}

/* line 17, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.container {
  flex-wrap: wrap;
  display: flex;
  height: 100%;
}

/* line 23, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.links {
  background-color: #32ce3e;
  width: 45px;
  margin: -40px auto 20px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  font-size: 40px;
  border-radius: 50%;
  padding: 20px;
}

/* line 36, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.new {
  color: white;
  text-decoration: none;
  display: block;
  vertical-align: middle;
}

/* line 44, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.links:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* line 49, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.header {
  padding-top: 10px;
  color: #3c3737;
  font-weight: 300;
  width: 50%;
  margin: 20px auto 0;
  border-top-left-radius: 17px;
}

/* line 58, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.action {
  text-align: center;
  background-color: #e43e04;
  padding: 10px;
}

/* line 64, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
div.header {
  background-color: #031f27;
  float: left;
  height: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
  padding-bottom: 12px;
  border-radius: 0;
  margin-top: -10px;
  opacity: 0.99;
  width: 330px;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 650px) {
  /* line 83, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
  .inner-wrapper {
    width: 100% !important;
    padding: 10px !important;
  }
}
@media (max-width: 1210px) {
  /* line 89, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
  .header {
    background-color: #031f27;
    height: 200px !important;
    position: relative;
    color: #fff;
    width: 100% !important;
    display: flex;
    float: none !important;
    flex-direction: column;
  }

  /* line 100, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
  img.page-title {
    width: 50px;
  }

  /* line 104, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
  .page-title {
    margin-top: 0 !important;
  }

  /* line 108, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
  .footer {
    display: none !important;
  }
}
/* line 113, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.footer {
  color: #000;
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: #000;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 128, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.footer a {
  text-align: center;
  display: block;
  color: #fff;
}

/* line 134, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.page-title {
  font-weight: 300;
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

/* line 143, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.quote {
  width: 78%;
  margin: 25px auto 0;
}

/* line 148, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.quote a:before {
  content: "- ";
}

/* line 152, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.quote a {
  color: red;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 12px;
  font-style: italic;
}

/* line 161, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.quote::first-line {
  display: none;
  color: transparent !important;
}

/* line 166, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.wrapper {
  text-align: center;
  min-width: 600px;
  flex-grow: 1;
  height: 100%;
  width: 80%;
}

/* line 174, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
.back {
  margin-top: auto;
  width: 100%;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  margin-bottom: -10px;
  display: block;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1210px) {
  /* line 190, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
  .back {
    background-color: #031f27 !important;
  }
}
/* line 195, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  border-bottom: 1px solid #000;
  padding: 25px;
}

/* line 206, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
h2 {
  font-weight: 200;
}

/* line 210, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
ul a {
  color: #000;
}

/* line 214, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
input {
  text-align: left;
  margin: 10px 10px 15px;
}

/* line 219, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
input[type="checkbox"] {
  text-align: left !important;
}

/* line 223, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/main.scss */
li {
  padding: 10px;
}

/* line 5, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.page-title {
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

/* line 13, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
div.help {
  margin-top: 25%;
  transform: translateY(-25%);
}

/* line 18, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
h2.help {
  color: #fff;
  font-size: 50px;
}

/* line 23, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.template-title {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 10px;
}

/* line 32, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.template-selector {
  width: 97%;
  margin-bottom: 0;
  background-color: #1eef79;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  margin-left: -10px;
  padding-right: 20px;
}

/* line 44, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.field-title {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 52, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.form-option p {
  display: inline-block;
  width: auto;
}

/* line 57, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.form-option {
  text-align: left !important;
}

/* line 61, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.quote {
  width: 78%;
  margin: 25px auto 0;
}

/* line 66, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.quote a:before {
  content: "- ";
}

/* line 70, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.quote a {
  color: red;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 12px;
  font-style: italic;
}

/* line 79, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.quote::first-line {
  display: none;
  color: transparent !important;
}

@media (max-width: 1210px) {
  /* line 84, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
  .template {
    padding-top: 60px;
  }

  /* line 88, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
  .quote {
    display: none;
  }
}
/* line 93, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.template {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-left: 5px solid #1eef79;
  height: 100%;
  padding-top: 30px;
}

/* line 103, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.field-title {
  font-size: 20px;
  min-width: 260px;
  text-align: left;
  margin-left: 20px;
}

/* line 110, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
div.radio {
  background-color: #000;
  width: 100%;
  color: #fff;
  padding-top: 20px;
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* line 120, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.radio-option {
  margin-left: 20px;
}

/* line 124, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
p {
  display: table-row;
}

/* line 128, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
label {
  display: table-cell;
}

/* line 132, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
input {
  display: table-cell;
}

/* line 136, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.submit-button {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 55px;
}

/* line 143, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.reason-field {
  width: 60%;
}

/* line 147, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.notes {
  width: 140px;
  padding-bottom: 20px;
  margin-bottom: -30px !important;
}

/* line 153, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.tooltip {
  position: relative;
  display: block;
}

/* line 158, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  min-width: 80px;
  background-color: #555;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border-radius: 17px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}

/* line 173, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.tooltip-right {
  margin-top: -2px;
  margin-left: 15em;
  margin-right: 2em;
}

/* line 179, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* line 184, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

/* line 190, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
input[type="checkbox"]:checked ~ .reveal-if-active,
input[type="radio"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  /* little bit of a magic number :( */
  overflow: visible;
}

/* line 198, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
select {
  margin: 10px 10px 15px;
}

@media (max-width: 1210px) {
  /* line 202, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
  .page-title {
    margin-top: 10px !important;
  }

  /* line 206, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
  .template-selector {
    width: 100%;
    padding: 20px;
  }

  /* line 211, /Users/keatonburleson/Documents/Aura/app/assets/stylesheets/new.scss */
  .template {
    border: none;
  }
}
