<% @title="Aura" %>

    <div class="inner-wrapper">
<div class="recent">
    <h3>Recent SKUs:</h3>

    <table class="recent">

      <% Sku.all.each do |sku| %>
      <tr>

        <%= JSON.parse sku.json %>
      </tr>
      <% end %>

    </table>
</div>
</div>
