<% @title="New" ; @style="new"%>
<% if @template != nil %>

<form id="template" class="template"><input type="hidden" value='<%= @template["name"] %>' name="category">
    <h3><%= @template["meta"]["template_name"] %></h3>


      <% @returnedTemplate.each do |line| %>
        <%= line.html_safe %>
      <% end %>

</form>
<% end %>
