<script type="text/javascript" src="<%= asset_path('settings_cookies.js') %>"></script>
<% @title="Settings"; @style="new" %>
<div class="step-one">
  <label>Printer</label>
<form>
    <select id="printSelect" name="template" onchange="savePrinter(this.value);">
        <% @printers.each do |template| %>

        <option>
            <%= template %></option>
        <% end %>

    </select>
  </form>
</div>
