<% @title="Settings"; @style="new" %>
<div class="step-one">
    <label>Printer</label>
    <form>
        <select name="printer" onchange="this.form.submit()">
            <% @printers.each do |printer| %>
            <% if cookies[:printer] == printer %>
            <option selected>
                <%= printer %></option>
        <% else %>
            <option>
                <%= printer %></option>
            <% end %>
            <% end %>
        </select>
    </form>
</div>
