/* New Page */
@import "main.scss";

div.help {
    margin-top: 25%;
    transform: translateY(-25%);
}

h2.help {
    color: #fff;
    font-size: 50px;
}

.template-title {
    text-align: left;
    font-size: 20px;
    color: #9a9797;
}

.template-selector {
    width: 97%;
    margin-bottom: 0;
    background-color: #1eef79;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    margin-left: -10px;
    padding-right: 20px;
}

.step-one {
    width: 60%;
    margin: 55px auto 0;
    padding: 20px;
    font-size: 25px;
}

.descriptions {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.step-two {
    width: 60%;
    margin: 55px auto 0;
}

.step-title {
    font-size: 50px;
    font-weight: 100;
    color: #9a9797;
}

.step-one form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    margin: 0 auto;
    border: 2px solid #e04343;
    border-radius: 12px;
    padding-top: 4px;
}

.field-title {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-option p {
    display: inline-block;
    width: auto;
}

.form-option {
    text-align: left!important;
}

.quote {
    width: 78%;
    margin: 25px auto 0;
}

.quote a:before {
    content: "- ";
}

.quote a {
    color: red;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 12px;
    font-style: italic;
}

.quote::first-line {
    display: none;
    color: transparent!important;
}
@media (max-width: 1210px) {
    .template {
        padding-top: 60px;
    }

    .quote {
        display: none;
    }
}

.template {
    display: table;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-left: 5px solid #1eef79;
    height: 100%;
    padding-top: 30px;
}

.field-title {
    font-size: 20px;
    min-width: 260px;
    text-align: left;
    margin-left: 20px;
}

div.radio {
    background-color: #000;
    width: 100%;
    color: #fff;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#submit {
    display: block;
    text-align: center;
    margin: 120px auto 0;
}

.radio-option {
    margin-left: 20px;
}

p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}

.submit-button {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 55px;
}

.reason-field {
    width: 60%;
}

.notes {
    width: 140px;
    padding-bottom: 20px;
    margin-bottom: -30px !important;
}

.tooltip {
    position: relative;
    display: block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    min-width: 80px;
    background-color: #555;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    border-radius: 17px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip-right {
    margin-top: -2px;
    margin-left: 15em;
    margin-right: 2em;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

input[type="checkbox"]:checked~.reveal-if-active,
input[type="radio"]:checked~.reveal-if-active {
    opacity: 1;
    max-height: 100px;
    /* little bit of a magic number :( */
    overflow: visible;
}

select {
    margin: 10px 10px 15px;
}
@media (max-width: 1210px) {
    .page-title {
        margin-top: 10px !important;
    }

    .template-selector {
        width: 100%;
        padding: 20px;
    }

    .template {
        border: none;
    }
}
