// Place all the styles related to the Process controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "main.scss";

div.barcode {
    background-color: #fff;
    width: 200px;
    display: block;
    margin: 5px 10px;
    border-radius: 8px;
    color: #000;
    margin: 0 auto;
}

.barcode img {
    max-width: 100%;
}
