<% @templates["items"].each do |template| %>
<% if JSON.parse(File.read('app/assets/templates/' + template[1]))['meta']['description'] %>
<p><%= JSON.parse(File.read('app/assets/templates/' + template[1]))['meta']['template_name']%>: <%= JSON.parse(File.read('app/assets/templates/' + template[1]))['meta']['description']%> </p>
<% end %>
<% end %>
