<div class="header">
<a href="/"><img class="page-title" src="<%=asset_path "logo.png" %>"></a>
          <%= render 'layouts/search_results' %>
          <div class="lower-area">
            <span class="page-title-text">Home</span>
            <a href="new" class="new">Create</a>
            <a href="https://github.com/hschreck/Aura/issues" class="new">Support</a>
          </div>
</div>
