<!--all hail rails!-->
<div class="searchy">

<%= form_tag search_sku_url do %>
  <span>scan your barcode here: </span>   <input type="text" name="sku" placeholder="ZTMZNNY6AGP3">
   <%= submit_tag "Go" %>
<% end %>
</div>
