<form>
    <select name="template" onchange="this.form.submit()">
        <option disabled selected value="">
            Choose a template
        </option>
        <% @templates["items"].each do |template| %>
        <option>  <%= JSON.parse(File.read('app/assets/templates/' + template[1]))['meta']['template_name'] %></option>
        <% end %>
    </select>
</form>
